<div class="footer">
  <div class="footer-grids">
    <div class="footer-top">
      <div class="footer-top-nav">
        <ul>
          <li><a href="javascript:return false">About</a></li>
          <li><a href="javascript:return false">Press</a></li>
          <li><a href="javascript:return false">Copyright</a></li>
          <li><a href="javascript:return false">Creators</a></li>
          <li><a href="javascript:return false">Advertise</a></li>
          <li><a href="javascript:return false">Developers</a></li>
        </ul>
      </div>
      <div class="footer-bottom-nav">
        <ul>
          <li><a href="javascript:return false">Terms</a></li>
          <li><a href="javascript:return false">Privacy</a></li>
          <li><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">Send feedback</a></li>
          <li><a href="javascript:return false">Policy & Safety </a></li>
          <li><a href="javascript:return false">Try something new!</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <ul>
        <li class="languages">
          <select class="form-control bfh-countries" data-country="US" [ngModel]="student" (ngModelChange)="student=$event;setInfo()">     
							  		<option value="">Select Language</option>
                    <option *ngFor="let o of language " [value]='o.value'>{{o.value}}</option>
						</select>
        </li>
        <li class="languages">
          <select class="form-control bfh-countries">
									<option value="">Select Country</option>
                  <option *ngFor="let o of language " [value]='o.value'>{{o.value}}</option>
								</select>
        </li>
        <li class="languages">
          <select class="form-control bfh-countries" data-country="US">
									<option value="">Safety Off</option>
									<option value="">Safety On</option>
						</select>
        </li>
        <li><a href="javascript:return false;" class="f-history">History</a></li>
        <li><a href="#small-dialog5" class="play-icon popup-with-zoom-anim f-history f-help">Help</a></li>
      </ul>
    </div>
  </div>
</div>