<div class="main-grids">
  <div class="top-grids">
    <div class="recommended-info">
      <h3>Recent Videos</h3>
    </div>
    <app-recent-videos></app-recent-videos>
  </div>
  <div class="recommended">
    <div class="recommended-grids">
      <div class="recommended-info">
        <h3>Animated Cartoon</h3>
      </div>
      <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider3">
          <li *ngFor="let c of animate">
            <div class="animated-grids">
              <app-animate [animate]="animate"></app-animate>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="recommended">
    <div class="recommended-grids">
      <div class="recommended-info">
        <h3>Recommended</h3>
      </div>
      <app-animate [animate]="recommend"></app-animate>
    </div>
    <div class="recommended-grids">
      <app-animate [animate]="recommend1"></app-animate>
    </div>
  </div>
  <div class="recommended">
    <div class="recommended-grids">
      <div class="recommended-info">
        <h3>Sports</h3>
      </div>
      <app-animate [animate]="recommend"></app-animate>
    </div>
    <div class="recommended-grids">
      <app-animate [animate]="recommend1"></app-animate>
    </div>
  </div>
</div>