<!--中间界面-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="main-grids">
    <div class="top-grids">
      <app-title [name]="name"></app-title>
      <div class="col-md-4 resent-grid recommended-grid slider-top-grids" *ngFor="let c of recent">
        <app-grid [c]="c"></app-grid>
      </div>
      <div class="clearfix"> </div>
    </div>
    <app-recommend [name]="name1" [animate]="animate"></app-recommend>
    <app-recommend [name]="name2" [animate]="recommend" [animate1]="recommend1"></app-recommend>
    <app-recommend [name]="name3" [animate]="recommend" [animate1]="recommend1"></app-recommend>
  </div>
  <app-footer></app-footer>
</div>