<!--右边状态栏-->
<div class="col-sm-3 col-md-2 sidebar">
  <div class="top-navigation">
    <div class="t-menu">MENU</div>
    <div class="t-img">
      <img src="./assets/images/lines.png" alt="" />
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="drop-navigation">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="../index.html" class="home-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
    </ul>
    <div class="side-bottom">
      <div class="side-bottom-icons">
        <ul class="nav2">
          <li>
            <a href="#" class="facebook"> </a>
          </li>
          <li>
            <a href="#" class="facebook twitter"> </a>
          </li>
          <li>
            <a href="#" class="facebook chrome"> </a>
          </li>
          <li>
            <a href="#" class="facebook dribbble"> </a>
          </li>
        </ul>
      </div>
      <div class="copyright">
        <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
      </div>
    </div>
  </div>
</div>